<mat-drawer-container class=" flex flex-row example-container">
  <mat-drawer #drawer class=" w-1/6 sidenav-background" mode="side">
    <app-sidenav (selectedMenuOption)="selectedMenuOption($event)"></app-sidenav>
  </mat-drawer>
  <div class="w-full h-full">
    <mat-card class=" title-position border-b-2 divide-slate-400 header box justify-between">
      <div class="px-5">
        @if (!showFiller) {
          <span (click)="toggleDrawer()">
            <mat-icon>arrow_right_alt</mat-icon>
          </span>
        }
        @if (showFiller) {
          <span (click)="toggleDrawer()">
            <mat-icon>subject</mat-icon>
          </span>
        }
      </div>
      @if (this.menu) {
        <div class="title-position px-5 font-medium">{{this.menu.title}}</div>
      }
    </mat-card>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>