<form class="flex flex-row aligne-items-center w-full">
    <mat-card class="m-3 p-3 box w-2/3">

        <!-- Product Title and  Description div-->
        <div class="flex flex-col">
            <div class="col mt-4">
                <div class="col-3">
                    <div class="formLabel"><span class="txt-normal">Product Title<span class="color">*</span></span>
                    </div>
                </div>
                <div>
                    <mat-form-field class="name-text Product-Title-field-width" appearance="outline">
                        <input #productTitle matInput [type]="'text'" required>
                        <!-- <mat-error>{{errors.name}}</mat-error> -->
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="col-3">
                    <div class="formLabel"><span class="txt-normal">Description<span class="color">*</span></span></div>
                </div>
                <div class="col-12">
                    <mat-form-field class="full-width custom-textarea" appearance="outline">
                        <textarea class="desc-text" #description matInput [type]="'text'"></textarea>
                        <!-- <mat-error>{{errors.description}}</mat-error> -->
                    </mat-form-field>
                </div>
            </div>
        </div>

        <!-- Manufacturer Name and Manufacturer Brand, stocks div -->
        <div class="my-3 flex flex-col">
            <div class="text-lg font-medium border-b-2 pb-2">General Info</div>
            <div class="flex flex-row justify-between">
                <div class="col mt-4">
                    <div class="col-3">
                        <div class="formLabel">
                            <span class="txt-normal">Manufacturer Name<span class="color">*</span></span>
                        </div>
                    </div>
                    <div>
                        <mat-form-field class="name-text " appearance="outline">
                            <input #ManufacturerName matInput [type]="'text'" required>
                            <!-- <mat-error>{{errors.name}}</mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
                <div class="col mt-4">
                    <div class="col-3">
                        <div class="formLabel">
                            <span class="txt-normal">Manufacturer Brand<span class="color">*</span></span>
                        </div>
                    </div>
                    <div>
                        <mat-form-field class="name-text" appearance="outline">
                            <input #manufacturerBrand matInput [type]="'text'" required>
                            <!-- <mat-error>{{errors.name}}</mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
                <div class="col mt-4">
                    <div class="col-3">
                        <div class="formLabel"><span class="txt-normal">Stocks<span class="color">*</span></span></div>
                    </div>
                    <div>
                        <mat-form-field class="name-text" appearance="outline">
                            <input #stocks matInput [type]="'text'" required>
                            <!-- <mat-error>{{errors.name}}</mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <!--  Stocks, Price, Discount, Orders-->
            <div class="flex flex-row justify-between">

                <div class="col mt-4">
                    <div class="col-3">
                        <div class="formLabel"><span class="txt-normal">Price<span class="color">*</span></span></div>
                    </div>
                    <div>
                        <mat-form-field class="name-text" appearance="outline">
                            <input #price matInput [type]="'text'" required>
                            <!-- <mat-error>{{errors.name}}</mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
                <div class="col mt-4">
                    <div class="col-3">
                        <div class="formLabel"><span class="txt-normal">Discount<span class="color">*</span></span>
                        </div>
                    </div>
                    <div>
                        <mat-form-field class="name-text" appearance="outline">
                            <input #discount matInput [type]="'text'" required>
                            <!-- <mat-error>{{errors.name}}</mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
                <div class="col mt-4">
                    <div class="col-3">
                        <div class="formLabel"><span class="txt-normal">Orders<span class="color">*</span></span></div>
                    </div>
                    <div>
                        <mat-form-field class="name-text" appearance="outline">
                            <input #orders matInput [type]="'text'" required>
                            <!-- <mat-error>{{errors.name}}</mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-3 flex flex-col">
            <div class="text-lg font-medium border-b-2 pb-2">Product Image</div>
        </div>
    </mat-card>

    <div class="w-1/3 flex flex-col">
        <mat-card class="m-3 p-3 Publish">
            <div class="flex flex-col">
                <div class="text-lg font-medium border-b-2 pb-2">Publish</div>
                <div class="col mt-4">
                    <div class="col-3">
                        <div class="txt-normal">Status</div>
                    </div>
                    <div>
                        <mat-form-field class="name-text dropdown-width" appearance="outline">
                            <mat-select [(value)]="selectedFood">
                                <mat-option [value]="option.value" *ngFor="let option of published">{{ option.viewValue
                                    }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col mt-4">
                    <div class="col-3">
                        <div class="txt-normal">Visibility</div>
                    </div>
                    <div>
                        <mat-form-field class="name-text dropdown-width" appearance="outline">
                            <mat-select [(value)]="selectedVisibility">
                                <mat-option [value]="option.value" *ngFor="let option of visibility">{{ option.viewValue
                                    }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card>

        <mat-card class="m-3 p-3 Publish">
            <div class="flex flex-col">
                <div class="text-lg font-medium border-b-2 pb-2">Publish Schedule</div>
                <div class="col mt-4">
                    <div class="col-3">
                        <div class="txt-normal">Publish Date & Time</div>
                    </div>
                    <div>
                        <mat-form-field class="name-text dropdown-width" appearance="outline">
                            <mat-date-range-input [rangePicker]="picker">
                                <input matStartDate placeholder="Start date">
                                <input matEndDate placeholder="End date">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card>

        <mat-card class="m-3 p-3 Publish">
            <div class="flex flex-col">
                <div class="text-lg font-medium border-b-2 pb-2">Product Categories</div>
                <div class="col mt-4">
                    <div class="col-3">
                        <div class="txt-normal">Select product category</div>
                    </div>
                    <div>
                        <mat-form-field class="name-text dropdown-width" appearance="outline">
                            <mat-select [(value)]="selectedProductCategory">
                                <mat-option [value]="option.value" *ngFor="let option of productCategory">{{
                                    option.viewValue
                                    }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card>


        <mat-card class="m-3 p-3 Publish">
            <div class="flex flex-col">
                <div class="text-lg font-medium border-b-2 pb-2">Product Tags</div>
                <div class="col mt-4">
                    <div>
                        <mat-form-field class="name-text dropdown-width" appearance="outline">
                            <mat-chip-grid #chipGrid aria-label="Enter keywords">
                                <mat-chip-row *ngFor="let keyword of keywords" (removed)="removeKeyword(keyword)">
                                    {{keyword}}
                                    <button matChipRemove aria-label="'remove ' + keyword">
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip-row>
                            </mat-chip-grid>
                            <input placeholder="New keyword..." [matChipInputFor]="chipGrid"
                                (matChipInputTokenEnd)="add($event)" />
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card>

        <mat-card class="m-3 p-3 Publish">
            <div class="flex flex-col">
                <div class="text-lg font-medium border-b-2 pb-2">Product Short Description</div>
                <div class="col mt-4">
                    <div class="col-3">
                        <div class="txt-normal">Add short description for product</div>
                    </div>
                    <div>
                        <mat-form-field class="full-width" appearance="outline">
                            <textarea class="desc-text" #description matInput [type]="'text'"></textarea>
                            <!-- <mat-error>{{errors.description}}</mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card>

    </div>

</form>